<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Statistics Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" onclick="setActive(this); showSection('products_stock')">Products Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="setActive(this); showSection('category_products')">Category Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="setActive(this); showSection('top_selling_section')">Top Selling</a>
        </li>
      </ul>
    </div>
  </div>
</nav>